* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.logo {
  margin-bottom: 20px;
}

.header {
  background: radial-gradient(#fff, pink);
}

.header .row {
  margin-top: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #161616;
}

h2 {
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}

hr {
  margin-bottom: 100px;
}

.contact-us {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eec9c9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  height: auto;
  margin-bottom: 100px;
}

.contact-us h2#contact {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-us input,
.contact-us textarea,
.contact-us select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: Arial, sans-serif;
}

.contact-us input[type="submit"] {
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-us input[type="submit"]:hover {
  background-color: rgb(190, 126, 15);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-us textarea {
  resize: vertical;
}
