* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background: radial-gradient(#fff, pink);
}

.header .row {
  margin-top: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #161616;
}

.contact-section {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  line-height: 60px;
}

.container h2::after {
  content: "";
  background: #ff523b;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.form-group {
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #888;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px; /* Increased padding */
  font-size: 16px; /* Increased font size */
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button[type="submit"]:focus {
  outline: none;
}
